<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Document</title>
</head>
<body style="font-family: Arial, sans-serif;margin: 0;padding: 0;">
    <div class="container" style="max-width: 600px;margin: 20px auto;padding: 20px;border: 2px solid #e0e0e0;border-radius: 10px;">
        <h1 style="color: #333;text-align: center;">Código de Verificación</h1>
        <p>Hola <b th:text="${name}">,</b></p>
        <p>Recibiste un código de verificación de 4 dígitos para cambiar tu contraseña:</p>
        <div class="verification-code" style="margin: 20px auto;padding: 20px;background-color: #FFD146;border-radius: 8px;text-align: center;font-size: 24px;font-weight: bold;color: #000000;" th:text="${verification_code}">
        </div>
        <p>Por favor, utiliza este código para verificar tu identidad y cambiar tu contraseña.</p>
        <p>¡Gracias por usar nuestro servicio!</p>
        <p class="signature" style="margin-top: 20px;text-align: center;font-size: 16px;color: #888;">Atentamente,<br>El equipo de CambiaZo</p>
    </div>
</body>
</html>